.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.toolbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.title {
	margin-right: 20px;
}

.searchContainer {
	display: flex;
	align-items: center;
}

.search {
	position: relative;
	border-radius: 4px;
	background-color: white;
	margin-left: 20px;
	width: auto;
}

.searchIcon {
	padding: 0 10px;
	height: 100%;
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputRoot {
	color: inherit;
}

.inputInput {
	padding: 10px 10px 10px 0;
	padding-left: calc(1em + 10px); /* searchIcon boyutu */
	width: 12ch;
}
